body {
    background: url(IMG_0346.jpg);
}

.container {
    height:100vh;
    background-color: rgba(255,255,255, 0.3);;
}

.game-interface {
    margin-top:50px;
    text-align:center;
}

h1 {
    text-align:center;
    margin-top:150px;
    font-family: 'Faster One', sans-serif;
    font-size: 5em;
}

h4 {
    margin-bottom:15px;
}

.result-space {
    margin:10px;
    border: 1px solid black;
    background-color: rgba(255,255,255, 0.3);;
    border-radius:15px;
    height:65px;
    width:500px;
    padding:0 15px;
}

.result-space h3 {
   margin-left:-10px;
   margin-top:18px;
}

h3 {
    margin-left:45px;
    margin-top:30px;
}

.fa {
    padding:5px;
}

@media screen and (max-width:1200px) {
    .result-space {
padding:0;

    width:100%;

}

h3 {
margin-left:0;
}

.result-space h3 {
    margin-top:20px;
    font-size:1.2em;
}
}

@media screen and (max-width:500px) {
    .game-interface {
    margin-top:0
}

h1 {
    text-align:center;
    margin-top:75px;
    font-family: 'Faster One', sans-serif;
    font-size: 5em;
}
}
